//
//  Config.xcconfig
//  Ez Tour
//
//  Created by Nathanael James on 4/22/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
//ApIKey: AIzaSyDRJbltlpTpzIrfUDFHiKwaaqZTnqe13W8

GOOGLE_API_KEY = AIzaSyDRJbltlpTpzIrfUDFHiKwaaqZTnqe13W8
